@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}